<h1>Angular Pipes</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Variable Input</th>
            <th scope="col">Pipe name</th>
            <th scope="col">Output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{fullName}}</td>
            <td>capitalized</td>
            <td>{{fullName | capitalized}} </td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>uppercase</td>
            <td>{{name | uppercase}} </td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>lowercase</td>
            <td>{{name | lowercase}} </td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>slice:3</td>
            <td>{{name | slice:3}} </td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>slice:0:5</td>
            <td>{{name | slice:0:5}} </td>
        </tr>
        <tr>
            <td>{{arr}}</td>
            <td>slice:1:5</td>
            <td>{{arr | slice:1:5}} </td>
        </tr>
        <tr>
            <td>{{pi}}</td>
            <td>number:'3.0-0'</td>
            <td>{{pi | number:'3.0-0'}}</td>
        </tr>
        <tr>
            <td>{{pi}}</td>
            <td>number:'.0-0'</td>
            <td>{{pi | number:'.0-2'}}</td>
        </tr>
        <tr>
            <td>{{percent}}</td>
            <td>percent</td>
            <td>{{percent | percent}}</td>
        </tr>
        <tr>
            <td>{{percent}}</td>
            <td>percent:'2.2-2'</td>
            <td>{{percent | percent:'2.2-2'}}</td>
        </tr>
        <tr>
            <td>{{pay}}</td>
            <td>currency:'MXN ':'code':'0.0-2'</td>
            <td>{{pay | currency:'MXN ':'code':'0.0-2'}}</td>
        </tr>
        <tr>
            <td>{{promise}}</td>
            <td>async</td>
            <td>{{promise | async}}</td>
        </tr>
        <tr>
            <td>{{date}}</td>
            <td>date:'short'</td>
            <td>{{date | date:'short'}}</td>
        </tr>
        <tr>
            <td>{{date}}</td>
            <td>date:'yyyy-MMM'</td>
            <td>{{date | date:'yyyy-MMMM'}}</td>
        </tr>
        <tr>
            <td>{{date}}</td>
            <td>date:'yyyy-MMM':'':'{{language}}'
                <button (click)="ChangeLanguage('en')" class="btn btn-primary mx-1">English</button>
                <button (click)="ChangeLanguage('es')" class="btn btn-dark mx-1">Spanish</button>
                <button (click)="ChangeLanguage('fr')" class="btn btn-success mx-1">French</button>
            </td>
            <td>{{date | date:'yyyy-MMMM':'': language}}</td>
        </tr>
        <tr>
            <td>password</td>
            <td>password: {{activated}}
                <button (click)="activated = !activated" class="btn btn-primary btn-block">Activate / Deactivate</button>
            </td>
            <td>{{password | hidePassword:activated }}</td>
        </tr>
    </tbody>
</table>

<h4>Slice</h4>
<ul *ngFor='let num of arr | slice:4:80'>{{num}}</ul>

<div class="my-2">
    <h4>Json pipe</h4>
    <hr>
    <pre>
    {{avenger|json}}
  </pre>
</div>

<div class="my-3">
    <h3>Secure DOM</h3>
    <iframe width="560" height="315" [src]='url | secureUrl' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>